@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100&family=Khand:wght@300&family=Overlock+SC&display=swap");
/*
colors: light-grey: 220/220/220
bg blue: 57, 94, 129

*/

body {
  background-color: rgb(252, 250, 205);
  margin: 0px;
  padding: 0px;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.centerDashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px solid rgb(255, 176, 176);
  min-height: 100vh;
  width: 100vw;
}
.dashboardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px 50px;
  grid-template-areas:
    "addMeal dailyGoals dailyGoals"
    "todaysMeals dailyGoals dailyGoals"
    "todaysMeals weeklyGoals weeklyGoals";
  height: 75vh;
  width: 75vw;
  font-family: "Readex Pro", sans-serif;
}

.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 60px;
  border: 1px solid rgb(103, 215, 246);
  min-width: 300px;
  min-height: 500px;
  border-radius: 10px;
  background-color: rgb(190, 226, 236);
  box-shadow: 5px 5px 3px rgba(255, 219, 219, 0.798);
}

.addMeal,
.todaysMeals,
.dailyGoals,
.weeklyGoals {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-style: "khand", sans-serif;
  align-items: center;
  font-size: 60px;
  border: 1px solid rgba(185, 163, 245, 0.789);
  border-radius: 10px;
  background-color: rgb(154, 208, 212);
  box-shadow: 5px 5px 3px rgba(157, 250, 206, 0.418);
  color: rgb(255, 255, 255);
}

.addMeal {
  grid-area: addMeal;
  font-size: 24px;
}
.todaysMeals {
  grid-area: todaysMeals;
}
.dailyGoals {
  grid-area: dailyGoals;
}
.weeklyGoals {
  grid-area: weeklyGoals;
}

.loginDetails,
.signupDetails,
.addMealDetails {
  display: flex;
  align-self: center;
  flex-direction: column;
  position: absolute;
  min-width: 400px;
  min-height: 400px;
  border: 1px solid rgb(255, 198, 198);
  box-shadow: 5px 5px 3px rgba(48, 48, 48, 0.788);
  border-radius: 10px;
  background-color: rgba(158, 198, 228, 0.986);
  z-index: 3;
  padding: 15px;
}

.addMealDetails {
  min-width: 45vw;
  min-height: 65vh;
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  min-width: 100vw;
}

.addMealWrapper {
  position: absolute;
  top: 50vh;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  min-width: 100vw;
}

.transparentBg {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.425);
  float: left;
}

/*CSS for button styling on homepage*/
.buttonLoginPage,
.submitMealButton {
  min-width: 75%;
  border: 1px solid rgb(85, 131, 162);
  background-color: rgb(116, 221, 179);
  box-shadow: 3px 3px 2px rgba(160, 197, 155, 0.418);
  padding: 13px;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Readex Pro", sans-serif;
  font-weight: bold;
  color: rgb(220, 220, 220);
}

.submitMealButton {
  align-self: flex-end;
  min-width: 25%;
}

.buttonLoginPage:active,
.submitMealButton:active {
  /* rgb(130, 180, 241) */
  background-color: rgb(116, 177, 251);
}

.closeDetails {
  background-color: transparent;
  align-self: flex-end;
  background-color: rgb(106, 165, 142);
  padding: 4px;
  color: white;
  font-family: "Readex Pro", sans-serif;
  font-weight: bold;
  border: 1px solid rgb(255, 232, 232);
  border-radius: 10px;
}

.closeDetails:active {
  background-color: rgb(169, 154, 252);
}

.inputWrapper,
.addMealDetailsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 300px;
  max-width: 400px;
  text-align: center;
}

.addMealDetailsWrapper {
  min-width: 100%;
  min-height: 60vh;
}

.loginInput,
.addMealInput {
  min-width: 51%;
  min-height: 40px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Readex Pro", sans-serif;
  border-radius: 10px;
  border: 1px solid rgb(238, 167, 167);
  box-shadow: 3px 3px 2px rgba(232, 200, 200, 0.418);
  margin-left: 5px;
}

.addMealNameDetails {
  display: flex;
  align-self: center;
  flex-direction: column;
  position: absolute;
  min-width: 400px;
  min-height: 200px;
  border: 1px solid rgb(255, 198, 198);
  box-shadow: 5px 5px 3px rgba(48, 48, 48, 0.788);
  border-radius: 10px;
  background-color: rgba(158, 198, 228, 0.986);
  z-index: 5;
  padding: 15px;
}

.addMealNameDetailsWrapper {
  min-width: 100%;
  min-height: 3vh;
}

.ingredientList {
  height: 500px;
  max-height: 500px;
  text-align: left;
  overflow: scroll;
  align-self: flex-start;
  padding-left: 30px;
}

.ingredientList::-webkit-scrollbar {
  display: none;
}

.addMealInput {
  width: 20vw;
  margin-right: 20px;
}

.loginInput:focus,
.addMealInput:focus {
  border: 1px solid rgb(255, 238, 238);
  outline: none;
}

.loginText,
.addMealText,
.addMealTextList,
.todaysMeals,
.addMealTextLarge {
  font-size: 15px;
  font-family: "khand", sans-serif;
  font-weight: bold;
  margin-top: 3px;
  color: rgb(72, 159, 163);
}

.loginTextLarge {
  font-size: 30px;
  font-family: "khand", sans-serif;
  font-weight: bold;
  margin-bottom: 40px;
  height: 60px;
  color: rgb(255, 255, 255);
}

.addMealTextLarge {
  align-self: flex-start;
}

.addMealText {
  align-self: flex-end;
}

.addMealForm {
  justify-self: flex-end;
}

.loginButtonBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 200px;
  min-width: 96%;
  border-top: 1px solid rgb(249, 203, 234);
}

.logo {
  height: 200px;
}

.logoImg {
  height: 240px;
  width: 240px;
}

 {
  height: 20px;
}

.loginFailed {
  color: rgb(255, 88, 88);
  font-family: "Readex Pro", sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: 20px;
  max-height: 20px;
}

.listText {
  text-align: left;
  align-self: flex-start;
  margin-left: 20px;
  font-size: 20px;
  color: black;
}
